{%extends 'base.html'%}
{%block content%}

{% if not request.user.is_authenticated%}
    <h1>LOGIN</h1>
    <form action="" method='POST'>
        {% csrf_token %}
        {%if error %}
        <p style='color:red'>{{error}}</p>
        {%endif %}
        <input type='text' name='username' placeholder='username'/>
        <input type='password' name='password' placeholder='password'/>
        <button type='submit'>LOGIN</button>
{%else%}
<p>U are already logged in . Do u want to <a href='/logout'>logout?</a></p>
{%endif%}

{%endblock%}